/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #5D45BA
$textColor = #2B2434
$borderColor =#D5D3D6
$codeBgColor = #17112F
$arrowBgColor = #D5D3D6
$badgeTipColor = #2AE4FF
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #F8417D

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px